@model FlowerDetailsServiceModel
@inject IFloristService floristService
@inject IFlowerService flowerService

@{
	ViewBag.Title = "Flower Details";
}

<h2 class="text-center" style="padding-top: 1.5em; padding-bottom: 1em">Flower <a style="color: #f075a0">Details</a></h2>

<div class="container" style="display:inline">
	<div class="row">
		<div class="col-4">
			<img class="card-img-top" style="width: 20rem; border: 3px solid #f075a0" src="@Model.ImageUrl" alt="Flower Image">
		</div>
		<div class="card col-8 border-0">
			<p style="font-size:25px; font-weight: bold">@Model.Title</p>
			<p>Colour: <b>@Model.Colour</b></p>
			<p>
				Price Per Bouquet:
				<b>@String.Format("{0:0.00}", Model.PricePerBouquet) BGN</b>
			</p>
			<p>Description:</p>
			<p>@Model.Description</p>
			<p>Category: <b>@Model.FlowerCategory</b></p>
			<p><i>(@(Model.IsGathered ? "Gathered" : "Not Gathered"))</i></p>
			<div class="form-inline">
				@if (this.User.Identity.IsAuthenticated)
				{
					if (await flowerService.HasFloristWithIdAsync(Model.Id, User.Id())
					|| User.IsAdmin())
					{
						<a class="btn btn-warning" style="background-color: #e34d82; border: 2px solid #e04179; color: white" asp-controller="Flower" asp-action="EditFlower" asp-route-id="@Model.Id">Edit</a>
						<a class="ml-2 btn btn-danger" style="background-color: #eb286d; border: 2px solid #e61962; color: white" asp-controller="Flower" asp-action="DeleteFlower" asp-route-id="@Model.Id">Delete</a>
					}
					@if (!Model.IsGathered && ((await floristService.ExistByIdAsync(User.Id())) == false
										|| User.IsAdmin()))
					{
						<form class="ml-2" asp-controller="Flower" asp-action="Gather" asp-route-id="@Model.Id" method="post">
							<input class="btn btn-primary" style="background-color: #d9a5b8; border: 2px solid #d694ac; color: white; margin-top: 0.5em" type="submit" value="Gather" />
						</form>
					}
					else if (await flowerService.IsGatheredByUserWithIdAsync(Model.Id, User.Id()))
					{
						<form class="ml-2" asp-controller="Flower" asp-action="Ungather" asp-route-id="@Model.Id" method="post">
							<input class="btn btn-primary" style="background-color: #912049; border: 2px solid #80183e; color: white;  margin-top: 0.5em" type="submit" value="Ungather" />
						</form>
					}
				}
			</div>
			<p></p>
			<div class="card" style="width: 20rem;">
				<div class="card-body">
					<h5 class="card-title">Florist Info</h5>
					@if (Model.Florist.FullName != null)
					{
						<p class="card-text">Full Name: <a style="color: #f075a0">@Model.Florist.FullName</a></p>
					}
					<p class="card-text">Email: <a style="color: #f075a0">@Model.Florist.Email</a></p>
					<p class="card-text">FlowerMaster Title: <a style="color: #f075a0">@Model.Florist.FlowerMasterTitle</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

