@model PastryServiceModel
@inject IPatissierService patissierService
@inject IPastryService pastryService

<div class="col-md-4">
	<div class="card mb-3">
		<img class="card-img-top" src="@Model.ImageUrl" alt="Pastry Image">
		<div class="card-body text-center">
			<h4>@Model.Title</h4>
			<h6>Description: <b>@Model.Description</b></h6>
			<h6>
				Price Of Pastry:
				<b>@String.Format("{0:f2}", Model.Price) BGN</b>
			</h6>
			<h6>(@(Model.IsTasted ? "Tasted" : "Not Tasted"))</h6>
			<br />
			<a asp-controller="Pastry" asp-action="PastryDetails" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformation()" class="btn btn-success" style="background-color: #de8eaa; border: 2px solid #db799b; color: white">Details</a>
			@if (this.User.Identity.IsAuthenticated)
			{
				if (await pastryService.HasPatissierWithIdAsync(Model.Id, User.Id()))
				{
					<a asp-controller="Pastry" asp-action="EditPastry" asp-route-id="@Model.Id" class="btn btn-warning" style="background-color: #e34d82; border: 2px solid #e04179; color: white">Edit</a>
					<a asp-controller="Pastry" asp-action="DeletePastry" asp-route-id="@Model.Id" class="btn btn-danger" style="background-color: #eb286d; border: 2px solid #e61962; color: white">Delete</a>
				}

				<p></p>
				@if (!Model.IsTasted && (await patissierService.ExistByIdAsync(User.Id())) == false)
				{
					<form class="input-group-sm" asp-controller="Pastry" asp-action="Taste" asp-route-id="@Model.Id" method="post">
						<input class="btn btn-primary" style="background-color: #d9a5b8; border: 2px solid #d694ac; color: white" type="submit" value="Taste" />
					</form>
				}
				else if (await pastryService.IsTastedByUserWithIdAsync(Model.Id, User.Id()))
				{
					<form asp-controller="Pastry" asp-action="Untaste" asp-route-id="@Model.Id" method="post">
						<input class="btn btn-primary" style="background-color: #912049; border: 2px solid #80183e; color: white" type="submit" value="Untaste" />
					</form>
				}
			}
		</div>
	</div>
</div>
